Code/CSCloudAdmin/Service References/CSCloudLogServerProxy/CSCloudLogService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8891/CSCloudLogService/CSCloudLogService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CSCloud.Data" />
  <xs:element name="Log">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CSCloud.Data" minOccurs="0" name="logEntry" nillable="true" type="q1:CSCloudLogEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLog">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CSCloud.Data" minOccurs="0" name="GetLogResult" nillable="true" type="q2:ArrayOfCSCloudLogEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>