Code/CSCloudAdmin/Service References/CSCloudLogServerProxy/CSCloudLogService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CSCloudLogService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8891/CSCloudLogService/CSCloudLogService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8891/CSCloudLogService/CSCloudLogService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8891/CSCloudLogService/CSCloudLogService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CSCloud.Data" />
      <xsd:import schemaLocation="http://localhost:8891/CSCloudLogService/CSCloudLogService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CSCloud.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICSCloudLogService_Log_InputMessage">
    <wsdl:part name="parameters" element="tns:Log" />
  </wsdl:message>
  <wsdl:message name="ICSCloudLogService_GetLog_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLog" />
  </wsdl:message>
  <wsdl:message name="ICSCloudLogService_GetLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogResponse" />
  </wsdl:message>
  <wsdl:portType name="ICSCloudLogService">
    <wsdl:operation name="Log">
      <wsdl:input wsaw:Action="http://tempuri.org/ICSCloudLogService/Log" message="tns:ICSCloudLogService_Log_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLog">
      <wsdl:input wsaw:Action="http://tempuri.org/ICSCloudLogService/GetLog" message="tns:ICSCloudLogService_GetLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICSCloudLogService/GetLogResponse" message="tns:ICSCloudLogService_GetLog_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICSCloudLogService" type="tns:ICSCloudLogService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Log">
      <soap:operation soapAction="http://tempuri.org/ICSCloudLogService/Log" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetLog">
      <soap:operation soapAction="http://tempuri.org/ICSCloudLogService/GetLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CSCloudLogService">
    <wsdl:port name="BasicHttpBinding_ICSCloudLogService" binding="tns:BasicHttpBinding_ICSCloudLogService">
      <soap:address location="http://localhost:8891/CSCloudLogService/CSCloudLogService.svc/CSCloudLogService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>