Code/CSCloudClient/Service References/CSCloudLogServerProxy/CSCloudLogService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CSCloud.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CSCloud.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8891/CSCloudLogService/CSCloudLogService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CSCloud.Enums" />
  <xs:complexType name="CSCloudLogEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CSCloud.Enums" minOccurs="0" name="Severity" type="q1:CSCloudSeverity" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CSCloudLogEntry" nillable="true" type="tns:CSCloudLogEntry" />
</xs:schema>